* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

:root {
  --blue-color: #67afe6;
  --bluelight-color: #dbf5fe;
  --pink-color: #ffc0cb;
  --yellow-color: #fffcdb;
  --violet-color: #bca5c7;
  --font-title: 'M PLUS Rounded 1c', sans-serif; }

html {
  overflow-x: none; }

/********************** NAV BAR **********************/
header {
  position: relative;
  z-index: 1000;
  background: var(--bluelight-color); }

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  row-gap: 50px; }

.nav-branding-logo {
  width: 15%;
  padding-top: 10px; }

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px; }

li {
  list-style: none; }

a {
  color: #67afe6;
  text-decoration: none;
  display: flex;
  font-size: 22px;
  font-weight: 700;
  font-family: var(--font-title);
  transition: .1s; }

.nav-link:hover {
  filter: brightness(0.92); }

.hamburguer {
  display: none;
  cursor: pointer; }

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #fff; }

/********************** SECTION - WELCOME PAGE **********************/
/* welcomePage-background */
.welcomePage {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden; }

.welcomePage-background {
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-image: url(../img/background_welcome_transparent.webp); }

.welcomePage-background .fa-solid {
  position: absolute;
  font-size: 40px;
  filter: drop-shadow(1px 1px 1px #999); }

.fa-hippo {
  top: 60%;
  left: 35%;
  transform: rotate(-10deg);
  color: #fff; }

.fa-moon1 {
  top: 5%;
  left: 90%;
  color: #fff; }

.fa-moon2 {
  top: 60%;
  left: 5%;
  color: var(--blue-color); }

.fa-horse1 {
  top: 10%;
  left: 5%;
  transform: rotate(10deg);
  color: var(--pink-color); }

.fa-horse2 {
  top: 60%;
  left: 90%;
  transform: rotate(-10deg);
  color: var(--pink-color); }

.fa-cloud1 {
  left: 40%;
  color: #fff; }

.fa-cloud2 {
  top: 70%;
  left: 60%;
  color: var(--blue-color); }

/* welcomePage-info */
.welcomePage-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 10%; }

.welcomePage-text {
  width: 33%;
  position: relative;
  top: 5%; }

.welcomePage-text h1 {
  font-size: 40px;
  font-weight: 900;
  color: var(--blue-color);
  line-height: 1.2;
  font-family: var(--font-title); }

.welcomePage-text p {
  font-size: 18px;
  color: var(--blue-color);
  margin-top: 15px; }

.welcomePage-img {
  position: relative;
  right: 5%; }

.welcomePage-img-circle {
  display: flex;
  width: 350px;
  height: 350px;
  background: var(--pink-color);
  position: relative;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  filter: drop-shadow(1px 1px 1px #999); }

.welcomePage-img-circle-1 {
  height: 110%;
  position: relative;
  bottom: 15%;
  right: 5%;
  transform: rotate(-15deg);
  z-index: 5;
  filter: drop-shadow(1px 1px 3px #fff); }

.welcomePage-img-circle-2 {
  height: 100%;
  position: relative;
  bottom: 5%;
  right: 25%;
  transform: rotate(15deg);
  z-index: 4;
  filter: drop-shadow(1px 1px 3px #fff); }

/********************** SECTION - CART ICON **********************/
.cart-icon {
  position: absolute;
  top: 2%;
  left: 95%;
  z-index: 1000;
  align-items: center;
  cursor: pointer; }

.cart-icon-container {
  position: fixed;
  background-color: var(--blue-color);
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition: .2s; }

.fa-cart-shopping {
  font-size: 30px;
  color: var(--pink-color);
  filter: drop-shadow(1px 1px 0.1px #000); }

.cart-icon-number {
  font-size: 20px;
  line-height: 1;
  color: var(--pink-color);
  filter: drop-shadow(1px 1px 0.1px #000); }

.cart-icon-container:hover {
  transform: scale(1.05); }

/********************** SECTION - CART **********************/
.cart {
  position: absolute;
  display: none; }

.cart-container {
  height: 300px;
  width: 30%;
  position: fixed;
  left: 68%;
  background-color: #fff;
  z-index: 100;
  border: 1px solid rgba(153, 153, 153, 0.4);
  overflow-y: scroll; }

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-thumb {
  background: var(--pink-color); }

.cart-container-background {
  background: linear-gradient(0deg, white 10%, rgba(255, 192, 203, 0.3) 90%);
  height: 50%;
  width: 100%;
  position: absolute;
  z-index: -1; }

.cart-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 2px;
  justify-content: space-between; }

.cart-item-img {
  width: 20%;
  flex: 1 0px;
  margin: auto;
  padding: 2px; }

.cart-item-name {
  flex: 1 0px;
  align-items: center;
  padding: 2px;
  text-align: center; }

.cart-item-price {
  flex: 1 0px;
  margin: auto;
  padding: 2px;
  text-align: center; }

.cart-item-quantity {
  width: 50px;
  height: 30px;
  border: none;
  text-align: center;
  font-size: 18px;
  flex: 1 0px;
  padding: 2px; }

.cart-line {
  margin: 10px; }

.cart-price-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px; }

.cart-price-text {
  display: inline-block;
  font-weight: 900;
  font-size: 20px; }

.cart-price {
  display: inline-block;
  font-weight: 900;
  font-size: 20px; }

.cart-buy-button {
  width: 350px;
  height: 40px;
  display: block;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  background-color: var(--pink-color);
  border-radius: 10px;
  border: none;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  transition: .3s; }

.cart-buy-button:hover {
  box-shadow: 1px 1px 5px #999; }

/********************** SECTION - INFO **********************/
.info {
  width: 70%;
  height: 70vh;
  margin: auto;
  text-align: center; }

.prueba {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-self: center;
  position: relative;
  left: 50%; }

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--blue-color);
  border-radius: 30px;
  padding: 30px 0; }

.info-container-items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center; }

.info-container-items .fa-solid {
  color: #fff;
  font-size: 30px; }

.info-container-items-title {
  color: #fff;
  font-size: 22px;
  font-family: var(--font-title);
  font-weight: 700;
  line-height: 1;
  padding: 15px; }

.info-container-items-text {
  color: #fff; }

.info-container-items-text {
  line-height: 1.5;
  width: 70%; }

/********************** SECTION - US **********************/
.us {
  margin: 0 10%;
  height: 90vh;
  text-align: right; }

.us-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative; }

.us-img-circle {
  width: 400px;
  height: 400px;
  border-radius: 23% 77% 81% 19% / 48% 72% 28% 52%;
  overflow: hidden;
  background-clip: content-box;
  background-color: transparent; }

.us-img-circle-background {
  width: 420px;
  height: 420px;
  border-radius: 23% 77% 81% 19% / 48% 72% 28% 52%;
  background-color: var(--pink-color);
  opacity: .7;
  transform: rotate(20deg);
  position: absolute;
  z-index: -1; }

.us-img-circle img {
  width: 100%; }

.us-text {
  width: 50%;
  height: 40vh;
  margin-top: 20px; }

.us-text h2 {
  font-size: 40px;
  font-weight: 900;
  color: var(--pink-color);
  position: relative;
  font-family: var(--font-title);
  background-color: var(--yellow-color);
  display: inline-block;
  padding: 10px 10px 10px 40px;
  border-top-left-radius: 80px; }

.us-text p {
  font-size: 18px;
  margin: 10px 0;
  line-height: 1.5;
  color: #000; }

.us-text-button-cats {
  width: 180px;
  height: 50px;
  border-style: none;
  border-radius: 30px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  transition: .2s;
  background-color: var(--violet-color);
  margin-right: 10px; }

.us-text-button {
  width: 180px;
  height: 50px;
  background-color: var(--blue-color);
  border-style: none;
  border-radius: 30px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  transition: .2s; }

.us-text-button:hover, .us-text-button-cats:hover {
  box-shadow: 1px 1px 10px #999; }

/********************** SECTION - SHOP **********************/
.shop {
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
  background-color: #ffc0cb20;
  border-radius: 100px;
  margin: 30px 70px;
  padding: 20px 100px; }

.shop h2 {
  font-size: 55px;
  font-weight: 900;
  color: var(--violet-color);
  margin-bottom: 40px;
  font-family: var(--font-title);
  z-index: 10;
  position: relative; }

.shop-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 60px;
  grid-column-gap: 80px;
  margin: 50px; }

.shop-item {
  border: 1px outset #fff;
  border-radius: 70px;
  background-color: #fff;
  z-index: 10;
  padding: 30px 0; }

.shop-item-name {
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #000; }

.shop-item-price {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--violet-color); }

.shop-item-img {
  width: 70%;
  border-radius: 20%; }

.shop-add-item-button, .shop-remove-item-button {
  width: 30px;
  height: 30px;
  background-color: var(--pink-color);
  border-style: none;
  border-radius: 30px;
  margin-top: 10px;
  font-size: 25px;
  color: #000;
  cursor: pointer;
  margin: 0 15px;
  transition: 0.4s; }

.shop-remove-item-button {
  font-size: 17px; }

.shop-remove-item-button:hover, .shop-add-item-button:hover {
  filter: brightness(0.96); }

/********************** SECTION - CONTACT **********************/
.contact {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex; }

.form-background {
  width: 80%;
  height: 80%;
  background: linear-gradient(180deg, #fffcdb 20%, var(--pink-color) 60%);
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  border-radius: 40px; }

.form-images-img {
  height: 100%;
  background-color: none; }

.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px; }

.form-container h3 {
  font-size: 40px;
  font-family: var(--font-title);
  color: var(--violet-color);
  font-weight: 700;
  text-shadow: 2px 2px 1px #fff;
  align-items: left; }

.form-container-input {
  width: 100%;
  height: 40px;
  border: none;
  padding: 10px; }

.form-container-textarea {
  width: 100%;
  height: 150;
  border: none;
  padding: 10px;
  resize: none; }

.form-container-button {
  width: 100%;
  height: 40px;
  border: none;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 10px;
  transition: .5s; }

.form-container-button:hover {
  background-color: #eeeeee;
  cursor: pointer; }

.form-container-input:focus, .form-container-textarea:focus {
  outline: none; }

/********************** SECTION - FOOTER **********************/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 20vh;
  background-size: cover;
  background-color: var(--bluelight-color); }

.footer-logo {
  width: 15%;
  padding: 10px; }

.footer-info-instagram {
  font-size: 40px;
  margin: auto; }

.footer-info {
  display: flex;
  flex-direction: row;
  gap: 40px;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 20px; }

.footer-info-text-location, .footer-info-text-copyright {
  font-size: 17px;
  font-weight: 300;
  margin: auto; }

/* ============================================================================================
  MEDIA QUERIES 
  ============================================================================================ */
/**********   MENU HAMBURGUESA  **********/
@media (max-width: 767px) {
  /* MENU HAMBURGUESA */
  .hamburguer {
    display: block;
    position: relative;
    right: 75%; }
  .hamburguer.active .bar:nth-child(2) {
    opacity: 0; }
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg); }
  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg); }
  .nav-menu {
    position: fixed;
    top: -100%;
    gap: 0px;
    flex-direction: column;
    background: linear-gradient(90deg, white 70%, rgba(255, 255, 255, 0) 100%);
    width: 90%;
    text-align: center;
    transition: .3s; }
  .nav-item {
    padding: 20px 20%;
    border-bottom: 1px solid var(--bluelight-color);
    text-align: center;
    height: 100%;
    transition: .3s; }
  .nav-item a {
    font-size: 21px; }
  .nav-menu.active {
    top: 10%; } }

/**********   1024px - 1200px   **********/
@media (min-width: 1024px) and (max-width: 1200px) {
  /********************** NAV BAR **********************/
  .nav-branding-logo {
    width: 20%;
    padding-top: 0px; }
  /********************** SECTION - CART **********************/
  .cart-container {
    width: 35%;
    left: 63%;
    overflow-y: scroll;
    overflow-x: hidden; }
  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 10px; }
  .cart-price {
    display: inline-block;
    font-weight: 900;
    font-size: 20px; }
  .cart-buy-button {
    width: 320px; }
  /********************** SECTION - WELCOME PAGE **********************/
  /* welcomePage-background */
  .fa-hippo {
    left: 40%; }
  .fa-cloud1 {
    left: 30%;
    color: #fff; }
  .fa-cloud2 {
    top: 70%; }
  /* welcomePage-info */
  .welcomePage-text {
    width: 40%;
    top: 10%; }
  .welcomePage-text h1 {
    font-size: 37px; }
  .welcomePage-text p {
    font-size: 20px; }
  /********************** SECTION - INFO **********************/
  .info {
    width: 80%; }
  .info-container-items .fa-solid {
    font-size: 32px; }
  .info-container-items-title {
    font-size: 21px; }
  .info-container-items-text {
    color: #fff;
    width: 85%;
    font-size: 16px; }
  /********************** SECTION - US **********************/
  .us {
    margin: 0 8%; }
  .us-info {
    justify-content: space-between; }
  /********************** SECTION - SHOP **********************/
  .shop {
    padding: 30px; }
  .shop h2 {
    font-size: 50px; }
  .shop-items {
    grid-row-gap: 60px;
    grid-column-gap: 60px;
    margin: 0px; }
  /********************** SECTION - CONTACT **********************/
  .form-container h3 {
    font-size: 35px; }
  /********************** SECTION - FOOTER **********************/
  footer {
    height: 25vh; }
  .footer-logo {
    width: 24%; }
  .footer-info-instagram {
    font-size: 50px; }
  .footer-info-text-location, .footer-info-text-copyright {
    font-size: 20px; } }

/**********   900px - 1023px   **********/
@media (min-width: 900px) and (max-width: 1023px) {
  /******************** NAV BAR **********************/
  .nav-branding-logo {
    width: 25%;
    padding-top: 0px; }
  .nav-menu {
    gap: 50px; }
  /********************** SECTION - CART **********************/
  .cart-icon {
    left: 93%; }
  .cart-container {
    width: 35%;
    top: 12%;
    left: 62%;
    overflow-y: scroll;
    overflow-x: hidden; }
  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 10px; }
  .cart-buy-button {
    width: 280px; }
  /********************** SECTION - WELCOME PAGE **********************/
  /* welcomePage-background */
  .fa-hippo {
    left: 40%; }
  .fa-cloud1 {
    top: 5%;
    left: 30%;
    color: #fff; }
  .fa-moon2 {
    top: 65%; }
  /* welcomePage-info */
  .welcomePage-text {
    width: 42%;
    top: 10%; }
  .welcomePage-text h1 {
    font-size: 34px; }
  .welcomePage-text p {
    font-size: 19px; }
  .welcomePage-img {
    position: relative;
    right: 2%; }
  .welcomePage-img-circle {
    width: 310px;
    height: 310px; }
  .welcomePage-img-circle-1 {
    height: 100%;
    bottom: 5%;
    right: 5%; }
  .welcomePage-img-circle-2 {
    height: 95%;
    bottom: 0%;
    right: 25%; }
  /********************** SECTION - INFO **********************/
  .info {
    width: 80%; }
  .info-container-items .fa-solid {
    font-size: 30px; }
  .info-container-items-title {
    font-size: 18px; }
  .info-container-items-text {
    color: #fff;
    width: 90%;
    font-size: 15px; }
  /********************** SECTION - US **********************/
  .us {
    margin: 0 8%; }
  .us-info {
    justify-content: space-between; }
  .us-img-circle {
    width: 350px;
    height: 350px; }
  .us-img-circle-background {
    width: 370px;
    height: 370px; }
  .us-text {
    width: 55%;
    height: 40vh;
    margin-top: 5px; }
  .us-text h2 {
    font-size: 35px; }
  .us-text p {
    font-size: 16px; }
  .us-text-button-cats {
    width: 160px;
    height: 40px; }
  .us-text-button {
    width: 160px;
    height: 40px; }
  .us-background-circle--yellow {
    width: 250px;
    height: 250px; }
  /********************** SECTION - SHOP **********************/
  .shop {
    padding: 20px; }
  .shop h2 {
    font-size: 45px; }
  .shop-items {
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    margin: 0px; }
  .shop-item-name {
    font-size: 18px; }
  .shop-item-img {
    width: 60%; }
  /********************** SECTION - CONTACT **********************/
  .form-background {
    width: 85%;
    height: 75%; }
  .form-container {
    width: 55%; }
  .form-container h3 {
    font-size: 30px; }
  /********************** SECTION - FOOTER **********************/
  footer {
    height: 25vh; }
  .footer-logo {
    width: 27%;
    padding: 10px; }
  .footer-info-instagram {
    font-size: 40px; }
  .footer-info {
    margin-bottom: 20px; }
  .footer-info-text-location, .footer-info-text-copyright {
    font-size: 18px; }
  /********************** SECTION - TOASTIFY **********************/
  .toastify-avatar {
    width: 180px;
    height: 180px; } }

/**********   768px - 899px   **********/
@media (min-width: 768px) and (max-width: 899px) {
  /********************** NAV BAR **********************/
  .nav-branding-logo {
    width: 25%;
    padding-top: 0px; }
  .nav-menu {
    gap: 30px; }
  /********************** SECTION - CART **********************/
  .cart-icon {
    left: 93%; }
  .cart-container {
    width: 35%;
    top: 12%;
    left: 62%;
    overflow-y: scroll;
    overflow-x: hidden; }
  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 10px; }
  .cart-item-img {
    width: 15%; }
  .cart-item-name {
    font-size: 14px; }
  .cart-item-price {
    font-size: 14px; }
  .cart-item-quantity {
    width: 30px; }
  .cart-price-text {
    display: inline-block;
    font-weight: 900;
    font-size: 15px; }
  .cart-price {
    font-size: 15px; }
  .cart-buy-button {
    width: 240px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 20px; }
  /********************** SECTION - WELCOME PAGE **********************/
  /* welcomePage-background */
  .welcomePage-background .fa-solid {
    font-size: 35px; }
  .fa-hippo {
    left: 40%; }
  .fa-cloud1 {
    top: 5%;
    left: 30%;
    color: #fff; }
  .fa-moon2 {
    top: 65%; }
  /* welcomePage-info */
  .welcomePage-text {
    width: 45%;
    top: 12%; }
  .welcomePage-text h1 {
    font-size: 30px; }
  .welcomePage-text p {
    font-size: 17px; }
  .welcomePage-img {
    position: relative;
    right: 2%; }
  .welcomePage-img-circle {
    width: 270px;
    height: 270px; }
  .welcomePage-img-circle-1 {
    height: 97%;
    bottom: 5%;
    right: 3%; }
  .welcomePage-img-circle-2 {
    height: 92%;
    bottom: 0%;
    right: 21%; }
  /********************** SECTION - INFO **********************/
  .info {
    width: 90%;
    height: 70vh; }
  .info-container-items .fa-solid {
    font-size: 25px; }
  .info-container-items-title {
    font-size: 17px; }
  .info-container-items-text {
    color: #fff;
    width: 92%;
    font-size: 15px; }
  /********************** SECTION - US **********************/
  .us {
    margin: 0 8%;
    height: 70vh; }
  .us-info {
    justify-content: space-between; }
  .us-img-circle {
    width: 300px;
    height: 300px; }
  .us-img-circle-background {
    width: 320px;
    height: 320px; }
  .us-text {
    width: 55%;
    height: 40vh;
    margin-top: 5px; }
  .us-text h2 {
    font-size: 30px; }
  .us-text p {
    font-size: 14px; }
  .us-text-button-cats {
    width: 150px;
    height: 35px;
    font-size: 15px; }
  .us-text-button {
    width: 150px;
    height: 35px;
    font-size: 15px; }
  .us-background-circle--yellow {
    width: 220px;
    height: 220px; }
  /********************** SECTION - SHOP **********************/
  .shop {
    margin: 30px;
    padding: 20px; }
  .shop h2 {
    font-size: 40px; }
  .shop-items {
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    margin: 0px; }
  .shop-item-name {
    font-size: 17px; }
  .shop-item-img {
    width: 55%; }
  /********************** SECTION - CONTACT **********************/
  .form-background {
    width: 88%;
    height: 75%; }
  .form-container {
    width: 55%; }
  .form-container h3 {
    font-size: 30px; }
  /********************** SECTION - FOOTER **********************/
  .footer-logo {
    width: 25%;
    margin-top: 10px; }
  .footer-info-instagram {
    font-size: 40px; }
  .footer-info-text-location, .footer-info-text-copyright {
    font-size: 16px; }
  /********************** SECTION - TOASTIFY **********************/
  .toastify-avatar {
    width: 150px;
    height: 150px; } }

/**********   600px - 767px   **********/
@media (min-width: 600px) and (max-width: 767px) {
  /********************** NAV BAR **********************/
  .navbar {
    display: flex;
    justify-content: space-around;
    row-gap: 50px; }
  .nav-branding-logo {
    width: 37%;
    position: relative;
    left: 18%;
    padding-top: 0px; }
  /********************** SECTION - CART **********************/
  .cart-icon {
    left: 90%; }
  .cart-icon-container {
    height: 45px; }
  .cart-container {
    width: 45%;
    top: 13%;
    left: 52%;
    overflow-y: scroll;
    overflow-x: hidden; }
  .fa-cart-shopping {
    font-size: 27px; }
  .cart-icon-number {
    font-size: 18px; }
  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 10px; }
  .cart-item-img {
    width: 15%; }
  .cart-item-name {
    font-size: 14px; }
  .cart-item-price {
    font-size: 14px; }
  .cart-item-quantity {
    width: 30px; }
  .cart-price-text {
    display: inline-block;
    font-weight: 900;
    font-size: 15px; }
  .cart-price {
    font-size: 15px; }
  .cart-buy-button {
    width: 240px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 20px; }
  /********************** SECTION - WELCOME PAGE **********************/
  /* welcomePage-background */
  .welcomePage-background .fa-solid {
    font-size: 30px; }
  .fa-hippo {
    left: 45%; }
  .fa-horse2 {
    top: 65%; }
  .fa-cloud1 {
    top: 5%;
    left: 40%;
    color: #fff; }
  .fa-cloud2 {
    top: 75%;
    left: 65%; }
  .fa-moon2 {
    top: 70%; }
  /* welcomePage-info */
  .welcomePage-text {
    width: 52%;
    top: 16%; }
  .welcomePage-text h1 {
    font-size: 28px; }
  .welcomePage-text p {
    font-size: 16px; }
  .welcomePage-img {
    position: relative;
    right: 2%;
    top: 8%; }
  .welcomePage-img-circle {
    width: 240px;
    height: 240px; }
  .welcomePage-img-circle-1 {
    height: 95%;
    bottom: 0%;
    right: -2%; }
  .welcomePage-img-circle-2 {
    height: 90%;
    bottom: -2%;
    right: 18%; }
  /********************** SECTION - INFO **********************/
  .info {
    width: 100%;
    height: 60vh; }
  .info-container {
    border-radius: 0px; }
  .info-container-items .fa-solid {
    font-size: 25px; }
  .info-container-items-title {
    font-size: 15px; }
  .info-container-items-text {
    color: #fff;
    width: 92%;
    font-size: 13px; }
  /********************** SECTION - US **********************/
  .us {
    margin: 0 5%;
    height: 60vh; }
  .us-info {
    justify-content: space-between; }
  .us-img-circle {
    width: 240px;
    height: 240px; }
  .us-img-circle-background {
    width: 250px;
    height: 250px; }
  .us-text {
    width: 55%;
    height: 40vh;
    margin-top: 0px; }
  .us-text h2 {
    font-size: 25px; }
  .us-text p {
    font-size: 12px; }
  .us-text-button-cats {
    width: 125px;
    height: 30px;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 0px; }
  .us-text-button {
    width: 125px;
    height: 30px;
    font-size: 12px;
    margin-top: 10px; }
  .us-background-circle--yellow {
    width: 190px;
    height: 190px; }
  /********************** SECTION - SHOP **********************/
  .shop {
    margin: 30px;
    padding: 40px; }
  .shop h2 {
    font-size: 35px; }
  .shop-items {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 70px;
    margin: 0px; }
  .shop-item-name {
    font-size: 17px; }
  .shop-item-img {
    width: 60%; }
  /********************** SECTION - CONTACT **********************/
  .form-background {
    width: 100%;
    height: 80%;
    border-radius: 0px; }
  .form-container {
    width: 50%;
    gap: 10px; }
  .form-container h3 {
    font-size: 25px; }
  /********************** SECTION - FOOTER **********************/
  footer {
    height: 25vh; }
  .footer-logo {
    width: 35%;
    margin-top: 10px; }
  .footer-info-instagram {
    font-size: 40px; }
  .footer-info {
    gap: 20px; }
  .footer-info-text-location, .footer-info-text-copyright {
    font-size: 15px; }
  /********************** SECTION - TOASTIFY **********************/
  .toastify-avatar {
    width: 120px;
    height: 120px; } }

/**********   480px - 599px   **********/
@media (min-width: 480px) and (max-width: 599px) {
  /********************** NAV BAR **********************/
  .nav-branding-logo {
    width: 45%;
    padding-top: 10px;
    position: relative;
    left: 18%; }
  /********************** SECTION - CART **********************/
  .cart-icon {
    left: 90%; }
  .cart-icon-container {
    height: 45px; }
  .cart-container {
    width: 55%;
    top: 11%;
    left: 43%;
    overflow-y: scroll;
    overflow-x: hidden; }
  .fa-cart-shopping {
    font-size: 27px; }
  .cart-icon-number {
    font-size: 18px; }
  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 10px; }
  .cart-item-img {
    width: 20%; }
  .cart-item-name {
    font-size: 13px; }
  .cart-item-price {
    font-size: 13px; }
  .cart-item-quantity {
    width: 30px;
    font-size: 16px; }
  .cart-price-text {
    display: inline-block;
    font-weight: 900;
    font-size: 15px; }
  .cart-price {
    font-size: 15px; }
  .cart-buy-button {
    width: 240px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 20px; }
  /********************** SECTION - WELCOME PAGE **********************/
  /* welcomePage-background */
  .welcomePage-background .fa-solid {
    font-size: 28px; }
  .fa-hippo {
    left: 80%;
    top: 45%; }
  .fa-horse1 {
    display: none; }
  .fa-horse2 {
    top: 70%; }
  .fa-cloud1 {
    top: 2%;
    left: 5%; }
  .fa-cloud2 {
    top: 75%;
    left: 65%; }
  .fa-moon1 {
    color: var(--pink-color); }
  .fa-moon2 {
    top: 65%; }
  /* welcomePage-info */
  .welcomePage-info {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    top: 0%;
    flex-direction: column;
    text-align: center; }
  .welcomePage-text {
    width: 90%;
    top: 0%;
    align-self: center; }
  .welcomePage-text h1 {
    font-size: 39px; }
  .welcomePage-text p {
    font-size: 20px;
    margin-top: 10px; }
  .welcomePage-img {
    position: relative;
    right: 2%;
    top: -3%;
    align-self: center; }
  .welcomePage-img-circle {
    width: 300px;
    height: 300px; }
  .welcomePage-img-circle-1 {
    height: 100%;
    bottom: 0%;
    right: -2%; }
  .welcomePage-img-circle-2 {
    height: 95%;
    bottom: -2%;
    right: 18%; }
  /********************** SECTION - INFO **********************/
  .info {
    width: 100%;
    height: 50vh; }
  .info-container {
    border-radius: 0px; }
  .info-container-items .fa-solid {
    font-size: 25px; }
  .info-container-items-title {
    font-size: 15px; }
  .info-container-items-text {
    color: #fff;
    width: 92%;
    font-size: 13px; }
  /********************** SECTION - US **********************/
  .us {
    margin: 0 8%;
    height: 90vh; }
  .us-info {
    flex-direction: column;
    justify-content: space-between; }
  .us-img {
    margin: auto; }
  .us-img-circle {
    width: 300px;
    height: 300px;
    margin-top: 18px; }
  .us-img-circle-background {
    width: 300px;
    height: 300px; }
  .us-text {
    width: 90%;
    height: 40vh;
    margin-top: 30px; }
  .us-text h2 {
    font-size: 32px; }
  .us-text p {
    font-size: 15px; }
  .us-text-button-cats {
    width: 150px;
    height: 35px;
    font-size: 15px;
    margin: 0 0 2px 0; }
  .us-text-button {
    width: 150px;
    height: 35px;
    font-size: 15px;
    margin-top: 0px; }
  .us-background-circle--yellow {
    width: 150px;
    height: 150px; }
  /********************** SECTION - SHOP **********************/
  .shop {
    margin: 20px;
    padding: 30px;
    border-radius: 50px; }
  .shop h2 {
    font-size: 30px; }
  .shop-items {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 30px;
    margin: 0px; }
  .shop-item {
    border-radius: 40px;
    padding: 20px 0; }
  .shop-item-name {
    font-size: 15px; }
  .shop-item-img {
    width: 65%; }
  /********************** SECTION - CONTACT **********************/
  .form-background {
    width: 100%;
    height: 65%;
    border-radius: 0px; }
  .form-images-img {
    height: 40%;
    position: absolute;
    bottom: 0%;
    left: 0%; }
  .form-container {
    width: 80%;
    gap: 10px; }
  .form-container h3 {
    font-size: 32px; }
  /********************** SECTION - FOOTER **********************/
  footer {
    margin-top: 0px; }
  .footer-logo {
    width: 45%;
    margin-top: 20px; }
  .footer-info-instagram {
    font-size: 40px; }
  .footer-info {
    gap: 30px; }
  .footer-info-text-location {
    font-size: 14px;
    text-align: right; }
  .footer-info-text-copyright {
    font-size: 14px;
    text-align: left; }
  /********************** SECTION - TOASTIFY **********************/
  .toastify-avatar {
    width: 120px;
    height: 120px; } }

/**********   320px - 479px   **********/
@media (min-width: 320px) and (max-width: 479px) {
  /********************** NAV BAR **********************/
  .nav-branding-logo {
    width: 45%;
    padding-top: 10px;
    position: relative;
    left: 17%; }
  /********************** SECTION - CART **********************/
  .cart-icon {
    left: 85%; }
  .cart-icon-container {
    height: 40px; }
  .cart-container {
    width: 70%;
    top: 8%;
    left: 25%;
    overflow-y: scroll;
    overflow-x: hidden; }
  .fa-cart-shopping {
    font-size: 24px; }
  .cart-icon-number {
    font-size: 15px; }
  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 10px; }
  .cart-item-img {
    width: 22%; }
  .cart-item-name {
    font-size: 11px; }
  .cart-item-price {
    font-size: 11px; }
  .cart-item-quantity {
    width: 30px;
    font-size: 15px; }
  .cart-price-text {
    display: inline-block;
    font-weight: 900;
    font-size: 14px; }
  .cart-price {
    font-size: 14px; }
  .cart-buy-button {
    width: 200px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 20px; }
  /********************** SECTION - WELCOME PAGE **********************/
  /* welcomePage-background */
  .welcomePage-background .fa-solid {
    font-size: 24px; }
  .fa-hippo {
    left: 80%;
    top: 45%; }
  .fa-horse1 {
    display: none; }
  .fa-horse2 {
    top: 80%; }
  .fa-cloud1 {
    top: 2%;
    left: 15%; }
  .fa-cloud2 {
    top: 75%;
    left: 65%;
    display: none; }
  .fa-moon1 {
    color: var(--pink-color);
    left: 70%; }
  .fa-moon2 {
    top: 65%; }
  /* welcomePage-info */
  .welcomePage-info {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    top: 0%;
    flex-direction: column;
    text-align: center; }
  .welcomePage-text {
    width: 90%;
    top: 0%;
    align-self: center; }
  .welcomePage-text h1 {
    font-size: 32px; }
  .welcomePage-text p {
    font-size: 19px;
    margin-top: 10px; }
  .welcomePage-img {
    position: relative;
    right: 2%;
    top: -3%;
    align-self: center; }
  .welcomePage-img-circle {
    width: 260px;
    height: 260px; }
  .welcomePage-img-circle-1 {
    height: 90%;
    bottom: 0%;
    right: -2%; }
  .welcomePage-img-circle-2 {
    height: 85%;
    bottom: -2%;
    right: 18%;
    transform: rotate(15deg); }
  /********************** SECTION - INFO **********************/
  .info {
    width: 100%;
    height: 50vh; }
  .info-container {
    border-radius: 0px; }
  .info-container-items .fa-solid {
    font-size: 25px; }
  .info-container-items-title {
    font-size: 15px; }
  .info-container-items-text {
    color: #fff;
    width: 95%;
    font-size: 13px; }
  /********************** SECTION - US **********************/
  .us {
    margin: 0 2%;
    height: 90vh; }
  .us-info {
    flex-direction: column;
    justify-content: space-between; }
  .us-img {
    margin: auto; }
  .us-img-circle {
    width: 270px;
    height: 270px;
    margin-top: 18px; }
  .us-img-circle-background {
    width: 270px;
    height: 270px; }
  .us-text {
    width: 100%;
    height: 40vh;
    margin-top: 30px; }
  .us-text h2 {
    font-size: 25px; }
  .us-text p {
    font-size: 14px; }
  .us-text-button-cats {
    width: 140px;
    height: 35px;
    font-size: 14px;
    margin: 0 0 2px 0; }
  .us-text-button {
    width: 140px;
    height: 35px;
    font-size: 14px;
    margin-top: 0px; }
  .us-background-circle--yellow {
    width: 150px;
    height: 150px; }
  /********************** SECTION - SHOP **********************/
  .shop {
    margin: 20px;
    padding: 30px;
    border-radius: 50px; }
  .shop h2 {
    font-size: 30px; }
  .shop-items {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 30px;
    margin: 20px; }
  .shop-item {
    border-radius: 40px;
    padding: 20px 0; }
  .shop-item-name {
    font-size: 15px; }
  .shop-item-img {
    width: 55%; }
  /********************** SECTION - CONTACT **********************/
  .form-background {
    width: 100%;
    height: 65%;
    border-radius: 0px; }
  .form-images-img {
    height: 37%;
    position: absolute;
    bottom: 0%;
    left: 0%; }
  .form-container {
    width: 80%;
    gap: 10px; }
  .form-container h3 {
    font-size: 32px; }
  /********************** SECTION - FOOTER **********************/
  footer {
    margin-top: 0px; }
  .footer-logo {
    width: 50%;
    margin-top: 20px; }
  .footer-info-instagram {
    font-size: 30px; }
  .footer-info {
    gap: 5px;
    flex-direction: column; }
  .footer-info-text-location, .footer-info-text-copyright {
    font-size: 15px; }
  /********************** SECTION - TOASTIFY **********************/
  .toastify-avatar {
    width: 100px;
    height: 100px; } }

/********************** SECTION - TOASTIFY **********************/
.toastify-avatar {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  margin: 2px;
  object-fit: cover; }

/********************** SECTION - TOASTIFY **********************/
.toastify-avatar {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  margin: 2px;
  object-fit: cover; }
