* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
  
  :root {
    --blue-color: #67afe6;
    --bluelight-color: #dbf5fe;
    --pink-color: #ffc0cb;
    --yellow-color: #fffcdb;
    --violet-color: #bca5c7; 
    --font-title: 'M PLUS Rounded 1c', sans-serif;
  }
  
  html {
    overflow-x: none;
  }